[Unit]
Description=slack bot
After=network.target

[Service]
Type=simple

User=slackbot
Environment=PYTHONUSERBASE=/opt/slackbot
Environment=SLACKBOT_TOKEN=xxx
Environment=SLACKBOT_PING_INTERVAL=20
ExecStart=/opt/slackbot/bin/slackbot stupid
Restart=always

[Install]
WantedBy=multi-user.target
